body{
	background-image: url('codice_fiscale.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
}
input#_CFiscale{
	background-color: lightgrey;
	position: fixed;
	margin-top: 30%;
	margin-left: 15%;
	font-size: 7vh, 7vv;
	width:50%;
}
input#_cogn{
	background-color: lightgreen;
	position: fixed;
	margin-top: 37%;
	margin-left: 15%;
	font-size: 7vh, 7vv;
	width:50%;
}
input#_nome{
	background-color: lightgreen;
	position: fixed;
	margin-top: 42%;
	margin-left: 15%;
	font-size: 7vh, 7vv;
	width: 50%;
}
#_sesso{
	background-color: lightgreen;
	position: fixed;
	margin-top: 45%;
	margin-left: 79%;
	font-size: 7vh, 7vv;
	width: 10%;
}

input#_luog{
	background-color: lightgreen;
	position: fixed;
	margin-top: 48%;
	margin-left: 15%;
	font-size: 7vh, 7vv;
	width: 50%;
}
input#_prov{
	background-color: lightgreen;
	position: fixed;
	margin-top: 53%;
	margin-left: 15%;
	width: 5%;
	font-size: 7vh, 7vv;
}
input#_gNas{
	color: black;
	background-color: lightgreen;
	position: fixed;
	margin-top: 53%;
	margin-left: 59%;
	width: 5%;
	font-size: 7vh, 7vv;
}
input#_mNas{
	color: black;
	background-color: lightgreen;
	position: fixed;
	margin-top: 53%;
	margin-left: 65%;
	width: 5%;
	font-size: 7vh, 7vv;
}
input#_aNas{
	color: black;
	background-color: lightgreen;
	position: fixed;
	margin-top: 53%;
	margin-left: 71%;
	width: 15%;
	font-size: 7vh, 7vv;
}
button#_check{
	color: black;
	background-color: lightgrey;
	position: fixed;
	margin-top: 57%;
	margin-left: 15%;
	font-size: 7vh, 7vv;
}
